.cart-dropdown{
  border: 1px solid black;
  position: absolute;
  width: 240px;
  height: 340px;
  padding: 20px;
  background-color: white;
  top: 80px;
  right: 50px;
  z-index: 5;
  display: flex;
  flex-direction: column;

  .cart-items{
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }

  button{
    margin-top: auto;
  }
}