.menu-item {
  min-width: 30%;
  height: 240px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  margin: 0 7.5px 15px;
  overflow: hidden;
  position: relative;

  &.small {
    height: 240px;
    grid-column: auto / span 2;
  }

  &.large {
    height: 380px;
    grid-column: auto / span 3;
  }

  @media screen and (max-width:800px){
    &.small, &.large{
      height: 200px;
    }
  }

  .background-image {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    position: absolute;
  }

  &:hover {
    cursor: pointer;

    .background-image {
      transform: scale(1.1);
      transition: transform 6s cubic-bezier(.25, .45, .45, .95);
    }

    .content {
      opacity: 0.9;
      transition: opacity .5s;
    }
  }

  .content {
    height: 90px;
    padding: 0 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    border: 1px solid black;
    background-color: white;
    opacity: .7;

    .title {
      font-weight: bold;
      margin-bottom: 6px;
      font-size: 22px;
      color: #4a4a4a;
      text-transform: uppercase;
    }

    .subtitle {
      font-weight: lighter;
      font-size: 16px;
      text-transform: uppercase;
    }
  }
}
